/2015/2015.sln
/2015/Answers/OminousOmino/bin/Debug
/2015/Answers/OminousOmino/obj/Debug
/2015/Answers/Pancakes/bin/Debug
/2015/Answers/Pancakes/obj/Debug
/2015/Answers/Round1B/bin/Debug
/2015/Answers/StamdingOvation7pts/bin/Debug
/2015/Answers/StamdingOvation7pts/obj/Debug
/2015/Answers/.vs/Answers/v14/*.suo
/2015/Answers/*.suo
/2016/Answers/.vs/Answers/v14/*.suo
/CodeJam2017/.vs/CodeJam2017/v14/*.suo
